TOKEN=MTQ2Njg4OTEzMTczMTk3NjE5Mg.GyW2m1.G5N7MaRnty6Hc9Aw69V2GXYVM4DnM0R4ZLyYVA
LOG_URL=https://logs.mymodmailbot.com/
GUILD_ID=1465029109439660208
OWNERS=345477856555433984
CONNECTION_URI=mongodb+srv://lzcorporate17:LjEgWIG2dAvXXrJh@modmail.0clgbz7.mongodb.net/?appName=Modmail
